# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# npm 
package-lock.json
node_modules/
node_backend/.env
python_backend/venv/
python_backend/venv/Lib/
python_backend/venv/Lib/site-packages/
python_backend/venv/Lib
python_backend/venv/Lib/site-packages/annotated_types-0.7.0.dist-info/RECORD
myenv/
/makking_app/build
/makking_app/linux
/makking_app/linux/flutter
makking_app/pubspec.lock
